@import "tailwindcss";

@theme {
    --color-primary: #3496E7;
    --font-manrope: "Manrope", sans-serif;
}

@font-face {
    font-family: 'Manrope';
    src: url("/fonts/Manrope-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url("/fonts/Manrope-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Manrope';
    src: url("/fonts/Manrope-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


video {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection {
    background-color: #3496E7 !important;
    color: #ffffffee;
}

::-moz-selection {
    background-color: #3496E7 !important;
    color: #ffffffee;

}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

body::-webkit-scrollbar {
    background: transparent !important;
    width: 7px !important;
}

body::-webkit-track {
    background: transparent !important;
}

body::-webkit-scrollbar-thumb {
    background: #3496E7;
    width: 7px !important;
    border-radius: 7px
}


a,
button {
    transition: 0.3s;

}

body {
    font-family: "Manrope", sans-serif;
    background-color: #09090F;
}

.container {
    max-width: 1600px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

.about-man {
    mask-image: radial-gradient(ellipse 100% 100% at 50% 0%, black 50%, transparent 100%);
    -webkit-mask-image: radial-gradient(ellipse 100% 100% at 50% 0%, black 50%, transparent 100%);
}

@media (max-width: 1024px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}